/* ===============================
   ROOT VARIABLES
================================= */

:root {
  --primary: #25343F;
  --secondary: #EAEFEF;
  --tertiary: #BFC9D1;
  --cta: #FF9B51;



  /* --primary: #008080;
  --secondary: #FDF6EC;
  --tertiary: #BFC9D1;
  --cta: #2563EB; */

  /* --primary: #1C1C1C;
  --secondary: #E0F2FE;
  --tertiary: #BAE6FD;
  --cta: #2563EB; */





  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Inter', sans-serif;
}

/* ===============================
   GLOBAL RESET
================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--secondary);
  color: var(--primary);
}

/* ===============================
   HEADER (Mobile First)
================================= */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary);
  padding: 14px 16px;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.logo-img {
  height: 36px;
  width: auto;
  display: block;
  border-radius: 50%;
}

/* CTA Button */

.btn-primary {
  background-color: var(--cta);
  color: #fff;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 600;
  padding: 10px 8px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.9;
}


/* ===============================
   HERO SECTION
================================= */

.hero {
  padding: 30px 16px 4px 16px;
  background-color: var(--secondary);
}

.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Content */

.hero-content {
  text-align: start;
}

.hero-title {

  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100,; */
  font-size: 32px;
  line-height: 1.15;
  margin-bottom: 5px;
}

.hero-subtitle {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  color: var(--primary);
}

/* Offer Pricing */

.hero-offer {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.price {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
  color: var(--primary);
}

.old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: var(--tertiary);
}


/* Image */

.hero-image img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  /* border-radius: 2px; */
}


/* ===============================
   SOCIAL PROOF
================================= */

.social-proof {
  background-color: #ffffff;
  padding: 0px 16px 0px 16px;
  text-align: center;
}

.social-proof-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Rating */

.stars {
  font-size: 22px;
  color: var(--cta);
  margin-bottom: 8px;
}

.rating-text {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 0px;
}


/* Stats */
.stats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding-bottom: 40px;

  background: linear-gradient(var(--cta) 50%, transparent 50%);
  background-size: 30% 2px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.stat-box h3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}

.stat-box p {
  font-size: 14px;
  color: var(--primary);
}

/* Commitment Section */
.commitment-section{
  margin: 26px 0px;
  text-align: center;
  background-color: var(--secondary);
}


.commitment-section-title{
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 600;
  margin-top: 24px;
  padding-bottom: 20px;
}

/* Trust Badges */

.trust-badges {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: var(--secondary);
}

.social-proof-icon {
  height: 70px;
  width: auto;
  display: block;
  border-radius: 50%;
}

.badge {
  padding: 14px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


/* ===============================
   BENEFITS SECTION
================================= */

.benefits {
  padding: 60px 16px 30px 16px;
  background-color: var(--secondary);
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-title {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-subtitle {
  font-size: 12px;
  line-height: 1.2;
}

/* Grid */

.benefits-grid {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Cards */

.benefits-grid{
  justify-content: center;
}

.benefit-card {
  width: 180px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.benefit-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.benefit-card h4 {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.benefit-card p {
  font-size: 16px;
  line-height: 1.6;
}


/* ===============================
   ORDER NOW BUTTON CONTAINER
================================= */
.order-now-button-container{
  background-color: var(--secondary);
  padding: 10px 16px;
  margin-bottom: 30px;
  text-align: center;

}

.btnprimary2 {
  background-color: var(--cta);
  color: #fff;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.3s ease;
}


/* ===============================
   PRODUCT SHOWCASE
================================= */

.product-showcase {
  padding: 30px 16px;
  background-color: #ffffff;
}

.showcase-inner {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.showcase-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.showcase-card {
  text-align: center;
  background: linear-gradient(var(--cta) 50%, transparent 50%);
  background-size: 30% 2px;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 20px;
}

.showcase-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.showcase-card h3 {
  font-family: var(--heading-font);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.showcase-card p {
  font-size: 16px;
  line-height: 1.6;
}


/* ===============================
   TESTIMONIALS
================================= */

.testimonials {
  padding: 60px 16px;
  background-color: var(--secondary);
}

.testimonial-scroll {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.testimonial-scroll::-webkit-scrollbar {
  display: none;
}

/* Cards */

.testimonial-card {
  min-width: 160px;
  background-color: #ffffff;
  padding: 14px;
  border-radius: 6px;
  flex-shrink: 0;
  scroll-snap-align: start;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.testimonial-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-card p {
  font-size: 14px;
  line-height: 1.3;
}

.testimonial-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary);
}

/* ===============================
   FAQ SECTION
================================= */

.faq {
  padding: 50px 16px;
  background-color: #ffffff;
}

.faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* FAQ Item */

.faq-item {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--secondary);
}

/* Question Button */

.faq-question {
  width: 100%;
  padding: 16px 18px;
  text-align: left;
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Answer */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 18px;
}

.faq-answer p {
  font-size: 14px;
  line-height: 1.3;
  padding-bottom: 18px;
}


/* ===============================
   ORDER SECTION
================================= */

.order-section {
  padding: 60px 16px;
  color: var(--primary);
}

.order-inner {
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--cta);
  border-radius: 4px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Form Group */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  padding: 14px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-family: var(--body-font);
}

/* Focus State */

.form-group input:focus,
.form-group textarea:focus {
  outline: 1px solid var(--cta);
}

/* Button */

.order-btn {
  background-color: var(--cta);
  color: #fff;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 600;
  padding: 10px 8px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.3s ease;
  border: none;
}

  .form-note {
  font-size: 12px;
  text-align: center;
  opacity: 0.9;
}


/* ===============================
   FOOTER
================================= */

.footer {
  background-color: #1b262f;
  color: #ffffff;
  padding: 40px 16px;
  font-size: 14px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  /* padding: 0px 16px; */
  gap: 30px;
}

/* Top Section */

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer-brand h3 {
  font-family: var(--heading-font);
  font-size: 16px;
  margin-bottom: 6px;
}

.footer-brand p {
  font-size: 14px;
  opacity: 0.8;
}

.footer-contact p {
  margin-bottom: 6px;
}

/* Divider */

.footer-divider {
  height: 1px;
  background-color: rgba(255,255,255,0.2);
}

/* Bottom Section */

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom p {
  font-size: 13px;
}

.footer-bottom a {
  color: var(--cta);
  text-decoration: none;
  font-weight: 600;
}


/* ===============================
   POPUP STYLES
================================= */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: #ffffff;
  width: 90%;
  max-width: 360px;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
}

.popup-box h2 {
  color: #25343F;
  margin-bottom: 10px;
}

.popup-box p {
  font-size: 15px;
  color: #555;
}

.popup-btn {
  display: block;
  background: #FF9B51;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin: 15px 0;
}

.popup-close {
  background: none;
  border: none;
  color: #777;
  font-size: 14px;
  cursor: pointer;
}



/* ===============================
   SUCCESS CARD STYLES
================================= */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  transform: translateY(-20px);
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modal-overlay.active .modal-box {
  transform: translateY(0);
}

.modal-box h3 {
  margin-bottom: 10px;
}

.modal-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.modal-box button {
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-box button:hover {
  background: #0056b3;
}

.modal-success h3 {
  color: #28a745;
}

.modal-error h3 {
  color: #dc3545;
}














/* ===============================
   MEDIA QUERRIES TABLET (480px+)
================================= */

@media (max-width: 480px) {
  .hero-title {
    font-size: 34px;
    color: var(--primary);
  }

  .hero-subtitle {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
  color: var(--primary);
  }

  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  
}

/* ===============================
   MEDIA QUERRIES TABLET (768px+)
================================= */



@media (min-width: 768px) {
  .header {
    padding: 18px 40px;
  }

  .logo {
    font-size: 20px;
  }

  .logo-img {
    height: 42px;
  }

  .btn-primary {
    padding: 12px 22px;
  }

  .hero-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-content {
    text-align: left;
    flex: 1;
  }

  .hero-image {
    flex: 1;
    text-align: right;
  }

  .hero-image img {
    max-width: 450px;
  }

  .stats {
    flex-direction: row;
    justify-content: space-between;
  }

  .stat-box {
    flex: 1;
  }

  .trust-badges {
    flex-direction: row;
    justify-content: center;
  }

  .showcase-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .testimonial-card {
    min-width: 320px;
  }

  .order-inner {
    max-width: 700px;
    margin: 0 auto;
  }

  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
}



/* ===============================
   DESKTOP (1024px+)
================================= */

@media (min-width: 1024px) {
  .header-inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo-img {
    height: 48px;
  }

  .hero {
    padding: 80px 40px;
  }

  .hero-inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  .social-proof-inner {
    max-width: 1000px;
    margin: 0 auto;
  }

   .benefits-inner {
    max-width: 1100px;
    margin: 0 auto;
  }

   .showcase-inner {
    max-width: 1100px;
    margin: 0 auto;
  }

  .testimonial-scroll {
    overflow: visible;
    flex-wrap: wrap;
  }

  .testimonial-card {
    min-width: calc(33.333% - 16px);
  }

  .faq-inner {
    max-width: 900px;
    margin: 0 auto;
  }


}
